* {
  box-sizing: border-box;
}
body {
  font-family: "Barlow", sans-serif;
  background-image: url("assets/crew/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #d0d6f9;
}

nav {
  position: absolute;
  width: 1385px;
  height: 96px;
  left: 55px;
  top: 40px;
}
.nav-icon {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 55px;
  top: 64px;
}

.nav-line {
  position: absolute;
  width: 473px;
  height: 1px;
  left: 167px;
  top: 88px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
}
.nav-items {
  position: absolute;
  width: 830px;
  height: 96px;
  left: 610px;
  top: 40px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
}
ul {
  list-style: none;
  display: inline-flex;
}
li {
  padding-right: 40px;
}
a {
  text-decoration: none;
  color: #d0d6f9;
}
.strong-li {
  padding-right: 10px;
}
#Crew {
  display: flex;
  flex-direction: row;
}
.crew-image {
  position: absolute;
  width: 568.07px;
  height: 712px;
  left: 734.93px;
  top: 198px;
}
p {
  position: absolute;
  width: 444px;
  height: 128px;
  left: 165px;
  top: 543px;
  margin-top: 3%;
}
h1 {
  position: absolute;
  width: 488px;
  height: 64px;
  left: 165.5px;
  top: 452px;

  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
}
.anousheh-h1 {
  width: 532px;
}
.mark-h1 {
  width: 614px;
}
h2 {
  position: absolute;
  width: 214px;
  height: 37px;
  left: 165.5px;
  top: 400px;

  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.anousheh-h2 {
  width: 273px;
}
h3 {
  position: absolute;
  width: 286px;
  height: 34px;
  left: 166.5px;
  top: 212px;
}
.dot,
.dot1,
.dot2,
.dot3 {
  position: absolute;
  left: 167px;
  top: 701px;
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
}
.dot1 {
  left: 206px;
}
.dot2 {
  left: 245px;
}
.dot3 {
  left: 284px;
}
.crew-links {
  margin-top: 70px;
}
@media (min-width: 360px) and (max-width: 419px) {
  body {
    background-image: url("assets/crew/background-crew-mobile.jpg");
    background-repeat: no-repeat;
  }
  #Crew {
    flex-direction: column-reverse;
  }
  .crew-image {
    position: absolute;
    width: 327px;
    height: 223px;
    left: 24px;
    top: 139px;
  }
  .crew-content {
    position: absolute;
    width: 327px;
    height: 212px;
    left: 24px;
    top: 394px;
  }
  h1 {
    position: absolute;
    height: 28px;
    left: 0%;
    right: 0%;
    top: calc(50% - 28px / 2 + 13px);

    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
  h2 {
    position: absolute;
    height: 18px;
    left: 33.64%;
    right: 33.64%;
    top: calc(50% - 18px / 2 - 18px);

    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }
  p {
    position: absolute;
    height: 100px;
    left: 0%;
    right: 0%;
    top: calc(50% - 100px / 2 + 35px);

    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
}
@media (min-width: 767px) and (max-width: 822px) {
  body {
    background-image: url("assets/crew/background-crew-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  #Crew {
    flex-direction: column;
  }
  .crew-image {
    position: absolute;
    width: 456.37px;
    height: 572px;
    left: 155.85px;
    top: 492px;
  }
  .crew-content {
    position: absolute;
    width: 458px;
    height: 232px;
    left: 155px;
    top: 220px;
    text-align: center;
  }
}
