* {
  box-sizing: border-box;
}
body {
  font-family: "Barlow", sans-serif;
  background-image: url("assets/destination/background-destination-desktop.jpg");
  color: #d0d6f9;
  scroll-behavior: smooth;
}
nav,
.nav-icon,
.nav-circle,
.nav-line,
.nav-items,
.mars-u,
.moon-ul,
.europa-ul,
.mars-ul,
.titan-ul,
.destination-p,
h1,
h2,
.moon-content,
.europa-content,
.mars-content,
.titan-content,
.moon-image,
.europa-image,
.mars-image,
.titan-image,
hr,
.distance-col1,
.distance-col2 {
  position: absolute;
}
nav {
  width: 1385px;
  height: 96px;
  left: 55px;
  top: 0;
}
.nav-icon {
  width: 48px;
  height: 48px;
  left: 55px;
  top: 64px;
}
.nav-circle {
  width: 48px;
  height: 48px;
  left: 30px;
  border-radius: 50%;
  background: #ffffff;
}
.nav-line {
  width: 473px;
  height: 1px;
  left: 167px;
  top: 88px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
}
.nav-items {
  width: 830px;
  height: 96px;
  left: 610px;
  top: 40px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
}
ul {
  list-style: none;
  display: inline-flex;
}
.mars-ul {
  left: -50%;

  top: 0%;
  bottom: 92.8%;
}
li {
  padding-right: 40px;
}

a {
  text-decoration: none;
  color: #d0d6f9;
}
.strong-li {
  padding-right: 10px;
}
#Moon-main,
#Europa-main,
#Mars-main,
#Titan-main .distance-row {
  display: flex;
  flex-direction: row;
}
.image {
  width: 100%;
  height: auto;
}
.moon-ul,
.europa-ul,
.mars-ul,
.titan-ul {
  left: 0%;
  right: 35.84%;
  top: 0%;
  bottom: 92.8%;
}
h1 {
  height: 115px;
  left: 0.11%;
  right: 25.06%;

  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 115px;
}
h2 {
  width: 382px;
  height: 34px;
  left: 166.5px;
  top: 180px;
}
.destination-p {
  height: 128px;
  left: 0%;
  right: 0.22%;
  top: calc(50% - 128px / 2 + 28px);
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
.moon-content,
.europa-content,
.mars-content,
.titan-content {
  width: 445px;
  height: 472px;
  left: 832px;
  top: 200px;
}
.moon-image,
.europa-image,
.mars-image,
.titan-image {
  width: 445px;
  height: 445px;
  left: 220px;
  top: 280px;
}
hr {
  left: 0.22%;
  right: 0%;
  top: 80.93%;
  bottom: 18.86%;

  background: #383b4b;
}
.distance-col1 {
  left: 0.11%;
  right: 67.75%;
  top: 87.08%;
  bottom: 0%;
  font-size: 14px;
}
.distance-col2 {
  left: 50%;
  right: 22.58%;
  top: 87.08%;
  bottom: 0%;
  font-size: 14px;
}
strong {
  font-size: 20px;
}
@media (min-width: 360px) and (max-width: 419px) {
  body {
    background-image: url("assets/destination/background-destination-mobile.jpg");
    background-repeat: no-repeat;
  }
  #Moon-main,
  #Mars-main,
  #Titan-main,
  #Europa-main .distance-row {
    display: flex;
    flex-direction: column;
  }
  image {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 103px;
    top: 139px;
  }
  h1 {
    position: absolute;
    width: 187px;
    height: 64px;
    left: 94.5px;
    top: 383px;
  }
  h2 {
    position: absolute;
    width: 221px;
    height: 19px;
    left: 77.5px;
    top: 88px;
  }
  .moon-ul,
  .titan-ul,
  .mars-ul,
  .europa-ul {
    position: absolute;
    width: 237.5px;
    height: 28px;
    left: 69px;
    top: 335px;
  }
  .destination-p {
    position: absolute;
    width: 327px;
    height: 125px;
    left: 24px;
    top: 448px;

    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */

    text-align: center;
  }
  .distance-col1 {
    position: absolute;
    width: 216px;
    height: 61px;
    left: 79.5px;
    top: 638px;
  }
  .distance-col2 {
    position: absolute;
    width: 223px;
    height: 61px;
    left: 76px;
    top: 731px;
  }
}
@media (min-width: 767px) and (max-width: 822px) {
  body {
    background-image: url("assets/destination/background-destination-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  #Moon-main,
  #Titan-main,
  #Mars-main,
  #Europa-main .distance-row {
    display: flex;
    flex-direction: column;
  }
}
