* {
  box-sizing: border-box;
}
body {
  font-family: "Barlow", sans-serif;
  background-image: url("assets/home/background-home-desktop.jpg");
  color: #d0d6f9;
}
nav {
  position: absolute;
  width: 1385px;
  height: 96px;
  left: 55px;
  top: 40px;
}
.nav-icon {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 55px;
  top: 64px;
}
.nav-circle {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 30px;
  border-radius: 50%;
  background: #ffffff;
}
.nav-star {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 30px;
  background: #0b0d17;
}
.nav-line {
  position: absolute;
  width: 473px;
  height: 1px;
  left: 167px;
  top: 88px;

  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
}
.nav-items {
  position: absolute;
  width: 830px;
  height: 96px;
  left: 610px;
  top: 40px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
}
ul {
  list-style: none;
  display: inline-flex;
}
#main-text {
  position: absolute;
  width: 450px;
  height: 382px;
  left: 165px;
  top: 387px;
}
h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  line-height: 34px;
}
.h1-strong {
  font-family: "Bellefair", serif;
  font-style: normal;
  color: #ffffff;
  font-size: 150px;
  line-height: 172px;
}
#explore {
  position: absolute;
  width: 274px;
  height: 274px;
  left: 1001px;
  top: 495px;
  background-color: #ffffff;
  border-radius: 50%;
}
h2 {
  position: absolute;
  height: 37px;
  left: 22.63%;
  right: 23.36%;
  top: calc(50% - 37px / 2 + 0.5px);
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;

  letter-spacing: 2px;
  color: #0b0d17;
}
@media (min-width: 360px) and (max-width: 419px) {
  body {
    background-image: url("assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1240px) {
  #main-content {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 768px) and (max-width: 822px) {
  body {
    background-image: url("assets/home/background-home-tablet.jpg");
  }
}
